<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Flight #</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <% if (f.departs < new Date()) { %> 
        <tr>
          <td style="color: red"><%= f.airline %></td>
          <td style="color: red"><%= f.flightNo %></td>
          <td style="color: red"><%= f.departs.toLocaleString() %></td>
          <td style="color: red"><a href="/flights/<%= f._id %>">FLIGHT DETAILS</a></td>
        </tr>
      <% } else { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs.toLocaleString() %></td>
          <td><a href="/flights/<%= f._id %>">FLIGHT DETAILS</a></td>
        </tr>
      <% }}); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>